<nav class="p-6 bg-gray-400 sticky ">
    <div>
      <span class="">LOGO</span>
    </div>
    <ul class="nav-menu flex flex-row justify-around">
      <li><a href="#"><i class="fa-solid fa-house"></i> <span class="text">Home</span></a></li>
      <li><a href="#"><i class="fa-solid fa-circle-info"></i> <span class="text">About</span></a></li>
      <li><a href="#"><i class="fa-regular fa-envelope"></i> <span class="text">Contact</span></a></li>
      <li><a href="#"><i class="fa-regular fa-user"></i> <span class="text">Login</span></a></li>
    </ul>
  </nav>