<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Build a social platfor with friends and family.">
    <!-- Fontawsome import -->
    <script src="https://kit.fontawesome.com/96a4d5e388.js" crossorigin="anonymous"></script>
    <!-- Css import -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>{% block title %}{% endblock %} | Social hub</title>
</head>
<body>

    {% include 'includes/navbar.html' %}

    {% block content %}
    {% endblock %}
</body>
</html>